
<div class="container"> 
    <br>
    <h2 class="subTitulo text-center"><i class="material-icons">fingerprint</i> SOBRE </h2> 
      <img src="../assets/images/foto-perfil.png" id="fotoPerfil" alt="Foto de perfil de Jose Vicente no dojo no Google" >
    <p>
      Meu nome é José Vicente de Sousa, trabalho com desenvolvimento web , tanto <em>front-end</em> quanto <em>back-end</em>. Mais recentemente também trabalhei com desenvolvimento <em>mobile</em>.
    </p>
    <p>
      Tenho experiência em <strong>Python</strong> com os frameworks <em>Web2py</em>. Também adquiri experiência com <strong>JavaScript</strong> desenvolvendo aplicações <strong>PWA</strong> utilizando 
      Angular, Ioinic e Polymer 
    </p>
    <p>
      Ultimamente tenho desenvolvido projetos voltado a IOT utilizando dispositivos <em>NodeMCU</em> com Home-assistant
    </p>        
</div>          
