a.login {
    color: #acd4ff !important;
    padding: 0;
    cursor: pointer;
}

a.login i.material-icons {
    font-size: xx-large;
}

img.navBarImg {
    width: 39px;
    border-radius: 50%;
    /* border: 2px solid #8457bf; */
}
img.modalImg {
    width: 99px;
    border-radius: 50%;
    margin-bottom: 13px;
    /* border: 2px solid #8457bf; */
}