<div class="container">
  <br>
  <!-- <h4 class="center"> PROJETOS</h4> -->
  <h2 class="subTitulo text-center"><i class="material-icons ">screen_share</i> PROJETOS</h2> 
    
  <ul>
      <li>
        <a href="http://www.bitsol.com.br">BitSol</a>
        <small>Consultoria em Desenvolvimento</small>
      </li>
      <li>
        <a href="http://www.web2py.com"> Web2py </a>
        <small>Framework de desenvolvimento em Python</small>
      </li>
      <li>
        <a href="http://www.nallubaby.com.br"> Nallubaby </a>
        <small>Cofecção de roupas infantis</small>
      </li>
    <li>
      <a routerLink="/buscar-cep"> Busca por Cep </a>
      <small> ( Form, JavaScript, API Rest )</small>
    </li>
  </ul>
</div>