<div class="jumbotron center">
    <blockquote class="blockquote text-center">
      <h3 class="mb-0 display-5">Desenvolvedor Full Stack JavaScript</h3>
      <footer class="blockquote-footer"><b>Front-end</b> ( <i>Angular, Ionic</i> ) <b>Back-end</b> ( <i>firebase</i> ) <b>Full-stack</b> ( <i>web2py</i> )</footer>
    </blockquote>
</div>


<ul id="social" class="center">
  <li><img src="../assets/images/html.png" alt=""></li>
  <li><img src="../assets/images/css.png" alt=""></li>
  <li><img src="../assets/images/js.png" alt=""></li>
  <li><img style="background-color:#eaecef" src="../assets/images/firebase.png" alt=""></li>
  <li><img src="../assets/images/angular.png" alt=""></li>
</ul>

<h4 class="center">PROFISSIONAL</h4>

<div class="profissao">
  <ul class="center">
    <li>
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <i class="material-icons">school</i>
            <h5 class="card-title">Estudante</h5>
            <p class="card-text">Sistema da informação 2 anos UMC.</p>
            <p class="card-text">Gestão de sistemas de informação 1 ano UNIP</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
          </div>
        </div>
    </li>
    <li>
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <i class="material-icons">devices_other</i>
            <h5 class="card-title">Tecnologia</h5>
            <p class="card-text">Back-end Python com web2py, front-end JavaScript com Angular, Ionic, Polymer.</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
          </div>
        </div>
    </li>
    <li>
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
           <i class="material-icons">wb_incandescent</i>
            <h5 class="card-title">Experiência</h5>
            <p class="card-text">Mais de 10 anos de experiência em TI.</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
          </div>
        </div>
    </li>
  </ul>
</div>  
