
.jumbotron{
    background-color: #f5f6f7;
}
.jumbotron i{
    color: #8a8b8c;
}

ul#social {
    padding: inherit;
}
ul#social li{
    list-style: none;
    display: initial;
}
ul#social li img{
    width: 70px;
    border-radius: 50%;
    border: 5px solid #dde0e5;
}

.profissao ul{ padding: 0;}
.profissao ul li {
    list-style: none;
    display: inline-flex;
    margin-bottom: 9px;
}

i.material-icons {
    font-size: 5em;
    color: #ced2ce;
}

 